 <div ng-include="'components/navbar/navbar.html'"></div>


<div class="container recordlist">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">New Record:</h1>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Album" ng-model="newRecord.album">
      <input type="text" class="form-control" placeholder="Artist" ng-model="newRecord.artist">
      <input type="text" class="form-control" placeholder="Condition" ng-model="newRecord.condition">
      <input type="text" class="form-control" placeholder="Description" ng-model="newRecord.description">
    </p>
          <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
  </form>
  </div>
</div>
</div>
</div>